.ipynb_checkpoints/
node_modules/
model-weights/
models/
model_store_decode/
model_store_encode/
notebooks/handler.ipynb
grafana-enterprise_9.4.7_amd64.deb
.devcontainer/
.vscode/
logs/
model-store/*.mar
.deployrc.json
Untitled.ipynb
data/HR_Landcover/
data/LR_Landcover/
data/hr_dataset.tar.gz
data/lr_dataset_l2a.tar.gz
data/metadata.csv
data/rename.sh
data/requestProps_.json
data/resp.js
data/resp.json
data/sample-georeferenced_burn_scar.tif
data/sample-georeferenced_burn_scar.tif.aux.xml
deployrc.json
notebooks/mask.tif
notebooks/mask.tif.aux.xml
notebooks/messy.ipynb
notebooks/multi_polygon.geojson
notebooks/output.tif
notebooks/output.tif.aux.xml
notebooks/sample*
notebooks/sampled2_dataframe_with_zeroshot_masks.csv
notebooks/sampled_dataframe_with_zeroshot_masks.csv
notebooks/segment.gpkg
notebooks/tmp.py
notebooks/burn_embeds.npz
sam_decode_mar/
scripts/save_npz_embeds.py
src/sam_serve/__pycache__/
tests/__pycache__/

