name: AWS ECR Builder

on:
    push:
      branches:
        - main
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false
        strategy:
          matrix:
            task: [cpu, gpu, api]
        steps:
            - uses: actions/checkout@v3
              with:
                  ref: ${{github.event.pull_request.head.sha || github.sha}}

            - name: Docker Build Task
              run: docker build -t segment-${{ matrix.task }} . -f Dockerfile-${{matrix.task}}

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Docker Tag API
              run: docker tag segment-${{matrix.task}} ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com/sam-service:${{matrix.task}}-${{github.event.pull_request.head.sha || github.sha}}

            - name: Docker Push API
              run: docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com/sam-service:${{matrix.task}}-${{github.event.pull_request.head.sha || github.sha}}
